<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Add new Expense</h1>
      <div class="buttons">
        <button class="button button-clear" ng-click="closeAddModal()">Close</button>
      </div>
    </ion-header-bar>
    <ion-content>
      <form name="newExpenseForm" ng-submit="doAddExpense(newExpensename,newExpenseAmount,newExpenseFrequency,newExpenseNextMonth,dueToMonthYear)">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Expense Name</span>
            <input type="text" ng-model="newExpensename" required>
          </label>
          <label class="item item-input">
            <span class="input-label">Planned</span>
            <input type="number" step="any" ng-model="newExpenseAmount" required>
          </label>
          <label class="item item-input">
            <span class="input-label">Frequency</span>
            <input type="number" min="1" max="12" step="any" ng-model="newExpenseFrequency" freqnotallowed="5,7,8,9,10,11" required>
          </label>
          <label class="item item-input">
            <span class="input-label">Next month</span>
            <input type="number" min="1" max="12" step="any" ng-model="newExpenseNextMonth" required>
          </label>
          <label class="item item-input">
            <span class="input-label">Due to</span>
            <input type="month" id="monthpickup" ng-model="dueToMonthYear" required>
          </label>
          <label class="item">
            <button class="button button-block button-positive" type="submit">Add</button>
          </label>
        </div>
      </form>
    </ion-content>
    </ion-modal-view>
