<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Add new Item</h1>
      <div class="buttons">
        <button class="button button-clear" ng-click="closeAddModal()">Close</button>
      </div>
    </ion-header-bar>
    <ion-content>
      <form ng-submit="doAddItem(newItemName,newItemPlanned,newItemAmount,timesheetId)">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Expense Name</span>
            <input type="text" ng-model="newItemName" required>
          </label>
          <label class="item item-input">
            <span class="input-label">Planned</span>
            <input type="number" step="any" ng-model="newItemPlanned" required>
          </label>
          <label class="item item-input">
            <span class="input-label">Amount</span>
            <input type="number" step="any" ng-model="newItemAmount" required>
          </label>
          <label class="item">
            <button class="button button-block button-positive" type="submit">Add</button>
          </label>
        </div>
      </form>
    </ion-content>
    </ion-modal-view>
