<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Modify Expense</h1>
      <div class="buttons">
        <button class="button button-clear" ng-click="closeModifyModal()">Close</button>
      </div>
    </ion-header-bar>
    <ion-content>
      <form ng-submit="doModifyExpense(modExpenseName,modExpenseAmount,modExpenseId)">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Item Name</span>
            <input type="text" ng-model="modExpenseName" required>
          </label>
          <label class="item item-input">
            <span class="input-label">Planned</span>
            <input type="number" step="any" ng-model="modExpenseAmount" required>
          </label>
          <label class="item">
            <button class="button button-block button-positive" type="submit">Modify</button>
          </label>
        </div>
      </form>
    </ion-content>
    </ion-modal-view>
