<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Modify Expense</h1>
      <div class="buttons">
        <button class="button button-clear" ng-click="closeModifyModal()">Close</button>
      </div>
    </ion-header-bar>
    <ion-content>
      <form ng-submit="doModifyExpense(modExpenseName,modExpenseAmount,modExpenseId,modExpenseFrequency,modExpenseNextMonth,modExpenseDueTo)">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Item Name</span>
            <input type="text" ng-model="modExpenseName" required>
          </label>
          <label class="item item-input">
            <span class="input-label">Planned</span>
            <input type="number" step="any" ng-model="modExpenseAmount" required>
          </label>
          <label class="item item-input">
            <span class="input-label">Frequency</span>
            <input type="number" min="1" max="12" step="any" ng-model="modExpenseFrequency" freqnotallowed="5,7,8,9,10,11" required>
          </label>
          <label class="item item-input">
            <span class="input-label">Next month</span>
            <input type="number" min="1" max="12" step="any" ng-model="modExpenseNextMonth" required>
          </label>
          <label class="item item-input">
            <span class="input-label">Due to</span>
            <input type="month" id="monthpickup" ng-model="modExpenseDueTo" required>
          </label>
          <label class="item">
            <button class="button button-block button-positive" type="submit">Modify</button>
          </label>
        </div>
      </form>
    </ion-content>
    </ion-modal-view>
