<ion-view view-title="Actual Timesheet">
  <ion-content>
    <div ng-if="showLoading">
      LOADING...
    </div>
    <div ng-repeat="item in timesheetItems | orderBy:'itemName'">
      <div class="card">
          <div class="item item-divider">
            <div class="row">
              <div class = "col col-90">{{item.itemName}}</div>
              <div class = "col col-5"><i class="icon ion-edit" ng-click="editItem(item.itemName,item.amountPlanned,item.amountPaid,timesheetId,item._id)"></i></div>
              <div class = "col col-5"><i class="icon ion-trash-a" ng-click="doDeleteItem(item.amountPaid,timesheetId,item._id)"></i></div>
          </div>
          <div class="item item-text-wrap">
                <div class="row">
                  <div class = "col col-50"><h2><b>Planned:  </b></h2></div>
                  <div class = "col col-50"><p>{{item.amountPlanned|currency}}</p></div>
                </div>
                <div class="row">
                  <div class = "col col-50"><h2><b>Paid:  </b></h2></div>
                  <div class = "col col-50"><p>{{item.amountPaid|currency}}</p></div>
                </div>
          </div>
      </div>
    </div>
  </div>
    <div class="card" ng-click="addNewItem()">
        <div class="item item-divider">
          Add new
        </div>
        <div class="item item-text-wrap">
              <h2>Click here to add new expense</h2>
        </div>
    </div>


  </ion-content>
</ion-view>
