<ion-view view-title="Short User Guide">
  <ion-content>
      <div class="card">
          <div class="item item-divider">
            <div class="row">
              <div class = "col col-80"><h2><b>1.Register a user</b></h2></div>
          </div>
        </div>
          <div class="item item-text-wrap">
            <div class="row">
              <div class = "col col-100"><h2>Fill in a registration form and register yourself.</h2></div>
            </div>
            <div class="row">
              <div class = "col col-100"><h2><b>Note!</b> You might have to login again after 2 days of inactivity</h2></div>
            </div>
          </div>   
      </div>
      <div class="card">
          <div class="item item-divider">
            <div class="row">
              <div class = "col col-80"><h2><b>2 Create a template</b></h2></div>
          </div>
        </div>
          <div class="item item-text-wrap">
            <div class="row">
              <div class = "col col-100"><h2>Create a list of your expense, filling in the form.</h2></div>
            </div>
            <div class="row">
              <div class = "col col-100"><h2>The template will be used for generating the list of expenses for every month.</h2></div>
            </div>
            <div class="row">
              <div class = "col col-100"><h2><b>Note! </b>The timesheet is generated 1/month after choosing the Timesheet option. It is advised to fill in the timesheet with all your expenses, you want to see in this month. Subsequent updates will be seen only the next month!</h2></div>
            </div>
          </div>
      </div>
      <div class="card">
          <div class="item item-divider">
            <div class="row">
              <div class = "col col-80"><h2><b>3 Check your timesheet</b></h2></div>
          </div>
        </div>
          <div class="item item-text-wrap">
            <div class="row">
              <div class = "col col-100"><h2>After filling in the Template your expenses will be in the actual month's timesheet</h2></div>
            </div>
            <div class="row">
              <div class = "col col-100"><h2><b>Note! </b>If you have skipped the Tempate part your timesheet will be empty. Any change in the Template will be included in the next month's timesheet only!</h2></div>
            </div>
            <div class="row">
              <div class = "col col-100"><h2>You can add directly items in your timesheet or delete them. The same is valid for the modification or deletion.</h2></div>
            </div>
            <div class="row">
              <div class = "col col-100"><h2><b>Note! </b>Deletion or modification of items doesn't affect the Template!</h2></div>
            </div>
          </div>
      </div>
      <div class="card">
          <div class="item item-divider">
            <div class="row">
              <div class = "col col-80"><h2><b>4 Update the timesheet</b></h2></div>
          </div>
        </div>
          <div class="item item-text-wrap">
            <div class="row">
              <div class = "col col-100"><h2>Update the expenses in the timesheet as you pay your them during the month</h2></div>
            </div>
            <div class="row">
              <div class = "col col-100"><h2>The following options are available:</h2></div>
            </div>
            <div class="row">
              <div class = "col col-100">
                <ol>
                  <li>
                    <i class="icon ion-checkmark"></i> - Set Paid immediately, if the planned and paid amounts are equal
                  </li>
                  <li>
                    <i class="icon ion-plus"></i> - Add an amount to an item, if you pay it more than once
                  </li>
                  <li>
                    <i class="icon ion-edit"></i> - Modify everything, including the planned amount and name
                  </li>
                  <li>
                    <i class="icon ion-trash-a"></i> - Delete item if it has no paiments recorded ( planned = 0 )
                  </li>
                </ol></div>
            </div>
          </div>
      </div>
      <div class="card">
          <div class="item item-divider">
            <div class="row">
              <div class = "col col-80"><h2><b>5.Check your balance</b></h2></div>
          </div>
        </div>
          <div class="item item-text-wrap">
            <div class="row">
              <div class = "col col-100"><h2>Check the balance for the current month based on the timesheet records</h2></div>
            </div>
          </div>
      </div>
  </ion-content>
</ion-view>
