<ion-view view-title="User Settings">
  <ion-content>
    <div ng-if="showLoading">
      LOADING...
    </div>
      <div class="card">
          <div class="item item-divider">
            <div class="row">
              <div class = "col col-80">Parameters of user</div>
              <div class = "col col-5"><i class="icon ion-edit" ng-click="modifyUserSettings()"></i></div>
          </div>
        </div>
          <div class="item item-text-wrap">
            <div class="row">
              <div class = "col col-50"><h2><b>First Name:</b></h2></div>
              <div class = "col col-50"><p>{{userSettings.firstname}}</p></div>
          </div>
          <div class="item item-text-wrap">
            <div class="row">
              <div class = "col col-50"><h2><b>Last Name:</b></h2></div>
              <div class = "col col-50"><p>{{userSettings.lastname}}</p></div>
          </div>
        </div>
          <div class="item item-text-wrap">
            <div class="row">
              <div class = "col col-50"><h2><b>Currency Code:</b></h2></div>
              <div class = "col col-50"><p>{{userSettings.currencySymbol}}</p></div>
          </div>
        </div>
          <div class="item item-text-wrap">
            <div class="row">
              <div class = "col col-50"><h2><b>Number of Decimals:</b></h2></div>
              <div class = "col col-50"><p>{{userSettings.currencyDecimals}}</p></div>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
